* {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: Poppins, sans-serif;
}


body {
    margin: 0;
    line-height: inherit;
    overflow: hidden;
    background-color: rgb(15 118 110 / 1);
}


.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 36rem;
    height: 100vh;
    margin: auto;
}

.img-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.img-section label {
    color: rgb(107 114 128 /1);
    letter-spacing: 0.025em;
    text-transform: uppercase;
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: rgb(255 255 255 /1);
    border-width: 1px;
    border-radius: 0.5rem;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    width: 16rem;
    display: flex;
}

.img-section img {
    width: 48px;
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 6px;
}

.img-section span {
    line-height: 1.5;
    margin-top: 0.5rem;
}

.img-section input {
    display: none;
}

.form {
    display: none;
}

.form label {
    color: rgb(255 255 255 / 1);
    text-align: center;
    border-color: rgb(209 213 219 / 1);
    border-radius: 0.375rem;
    width: 20rem;
    display: block;
    margin: 0.25rem auto;
    margin-bottom: 0.5rem;
}

.form input {
    padding: 0.75rem;
    border-color: rgb(209 213 219 / 1);
    border-radius: 0.375rem;
    width: 20rem;
    display: block;
    margin: auto;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: black;
}

.form button {
    color: rgb(255 255 255 / 1);
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 0.5rem 1rem;
    background-color: rgb(20 184 166 / 1);
    border: 1px solid transparent;
    border-radius: 0.375rem;
    justify-content: center;
    width: 20rem;
    display: flex;
    margin: auto;
    cursor: pointer;
    text-transform: none;
}

.container p {
    color: white;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
    text-align: center;
    margin-top: 0.5rem;
}

.about img {
    margin: 0 auto;
    margin-bottom: 1.25rem;
    max-width: 100%;
    height: auto;
    display: block;
}

.about h2 {
    color: rgb(204 251 241 /1);
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: center;
    margin: 0;
}